<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="dom.entity.SocialPerson" alias="User"/>
		<typeAlias type="dom.entity.Community" alias="Community"/>
		<typeAlias type="dom.entity.CommunityMember" alias="CommunityMember"/>
		<typeAlias type="dom.entity.CommunityManager" alias="CommunityManager"/>
		<typeAlias type="dom.entity.Club" alias="Club"/>
		<typeAlias type="dom.entity.ClubMember" alias="ClubMember"/>
		<typeAlias type="dom.entity.ClubManager" alias="ClubManager"/>
		<typeAlias type="dom.entity.ClubCategory" alias="ClubCategory"/>
	</typeAliases>
	

	
</configuration>